@import "tailwindcss";

:root {
  --font-sans: var(--font-poppins);
}

html {
  font-size: 16px;
}

body {
  font-family: var(--font-sans), system-ui, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
